<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <strong>ID</strong><div><%=newTable.id%></div> <br><br>
    <strong>Name: </strong><div><%= newTable.name %></div> <br><br>
    <strong>Quantity: </strong><div><%= newTable.quantity%></div> <br><br>
    <strong>Price:</strong><div><%= newTable.price%></div> <br><br>
    
</body>
</html>